.sidebar{
    width: 380px;
    height: 90vh;
}


/* buttons stylings */
.options button:hover{
background: #343434!important;
color: white!important;
scale: 1.02;
}

.theme{
 transition: all 0.01ms ease-in;
 transition-delay: 0.2s;
}
.submit:hover{
  background: white;  
 color: #343434;
}